.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header .logo img {
    width: 10rem;
    height: auto;
}

.header .navbar {
    display: flex; /* Ensure the navbar is always displayed */
}

.header .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar ul li {
    margin: 0 1.5rem;
}

.header .navbar ul li a {
    /* font-size: 30px; */
    /* font-weight: bold; */
    font-family: Arial,  sans-serif;
    font-weight: bolder;
    color: #fff;
}

.header .navbar ul li a:hover {
    color: #00bfff;
    text-decoration: underline;
}

body {
    background: linear-gradient(to left, #8b0000, #000000); 
    margin: 0;
}

.org-chart {
    text-align: center;
    padding-top: 6rem;
}

.level {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.position {
    margin: 0 15px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.position img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.name {
    color: #555;
    font-size: 1em;
}
